<div class="register__user__container">
  <form [formGroup]="staskForm" (ngSubmit)="onRegisterNewStask()" class="register__form">
    <h1>Register New Sub Task</h1>
    <input type="text" class="register__input" [ngClass]="{'register__input__invalid': name?.invalid && (name?.dirty || name?.touched)}" formControlName="name" placeholder="subtask name">
    @switch (name?.invalid && (name?.dirty || name?.touched) ) {
      @case (name?.errors?.['required']) {
        <p class="error__control">sub task name required</p>
      }
    }
    <select class="register__input" [ngClass]="{'register__input__invalid': user?.invalid && (user?.dirty || user?.touched)}" formControlName="user">
      @for (user of users(); track user.id) {
        <option value={{user.name}}>{{user.name}}</option>
      }
    </select>
    @switch (user?.invalid && (user?.dirty || user?.touched) ) {
      @case (user?.errors?.['required']) {
        <p class="error__control">user required</p>
      }
    }
    <div class="buttons__container">
      <button class="register__button">Register</button>
      <button class="return__button" (click)="onBack()">Return</button>
    </div>
  </form>
</div>
